body {
    background: #527BA4;
    font-family: 'Montserrat', sans-serif; 
    font-size: 25px;
    color:ghostwhite;
    margin:0;
    padding:0;
} 
h1 { 
    
    color: ghostwhite;
    text-align: center;
    font-size: 70px;
}
.a { 
    display: block;
    margin-left: auto;
    margin-right: auto; 
    opacity:0; 
    transition: 1s; 
    animation: show 5000ms 1; 
    animation-fill-mode: forwards; 
    animation-iteration-count: infinite;
}
@keyframes show{
0%{
opacity:0;
}
100% {
opacity:1;
}
}
.text1 {
    color: ghostwhite;
    text-align: left;
    display: block;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px; 
    
}
.contacts {
    text-align: center;
}
a {
    color: floralwhite;
    text-decoration: none;
    font-style: italic;
}
.b {
margin-top: 120px;

}
.pfp {
    border-radius: 60px;
}
.c {
    background-color: #103F6D;
    width: 100%;
    height: 80px;
    font-size: 15px;
    margin: 0;
}
.d{
    color: #999999;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 0;
}
.e {
    border-bottom: 10px solid #000;
}
